*{
    margin: 0;
    padding: 0;
  }

  .nav2{
    background-color: navy;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .fixtures {
    width: 70%;
    height: 90vh;
    display: flex;
    justify-content: center;
   
  }

  .fixtures img {
    height: 95%;
    width: 90%;
    margin-left: 20px;
  }

  @media (max-width: 600px) {
    .fixtures  {
     width: 100%;
    }
    .fixtures img {
        height: 70vh;
        width: 100%;
       }
  
  }




  @media (min-width: 600px) {
    p {
     font-size: 20px;
    }
  
  }