
*{
    margin: 0;
    padding: 0;
  }
  .navbar{
  
    background-color: navy;
    height: 15vh;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  nav,h1{
    color: aqua;
    font-size: 18px;
  
  }
  nav,p{
    color: aqua;
    font-size: 15px;
  }
  
  .navbar-menu,a{
    color: aqua;
    padding-top: 16px;
  }
  #video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
  }
  #video-bg video{
        width: 100%;
        height: 100%;
  }
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
  }
  .wrapper img {
    width: 33.33%;
  }
  
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column; /* Display images in a single column on mobile phones */
    }
  
    .wrapper img {
      width: 95%; /* Adjust the width to fit the column on mobile phones */
    }
  }
  .nav2{
    background-color: navy;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  #suvu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
  }
  #chuma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-top: 10px;

  }
  #lee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  
  }
  #mutinda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 10px;

  }
  
  .container{
    background-image: url(モDigital\ kerugoya\ sportiff\(2nd\)金\ 20220507_204722.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav2,p{
    color: blue;
    font-size: 15px;
  }
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  .toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color:aqua;
    margin-bottom: 5px;
  }
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .navbar-menu li {
    margin-left: 5px;
    margin-right: 5px;
  }
  @media only screen and (max-width: 600px) {
    .navbar-menu {
      display: none;
    }
    .navbar-toggle {
        display: block;
        float: right;
      }
     
      
    }
   
    .about{
      background-image: url(モDigital\ kerugoya\ sportiff\(2nd\)金\ 20220507_204722.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 60%;
      margin: 0 auto;
      padding-left: 10px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  
    }
    .list-menu{
      background-color: navy;
      background-size: cover;
      height: 70vh;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      list-style-type: none;
    
    }
    .list-menu,a {
      color: white;
    }
    .home-container{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      gap: 1rem;
    }
    .tm-captain{
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: 0 auto;
      gap: 2rem;
      margin-top: 10px;
      float: right;
      margin-bottom: 30px;
    }
    .tm-captain img{
      width: 100%;
      height: auto;
    }
    .zachary{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    .njogu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

      .footer{
        background-color: aqua;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
  
      }
      .footer a {
        display: inline-block;
        margin: 0 10px;
        
  
      }
      
      .footer img {
        width: 30px;
        height: 30px;
      }
  
  
    
    @media only screen and (max-width: 600px) {
      .home-container {
        display: flex;
        flex-direction: column;
      }
      .about{
        width: 100%;
      }
      .tm-captain{
        width: 75%;
      }
    }
  
  
  
  
  















/* body{
    min-height: 100vh;
<<<<<<< HEAD
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(モDigital\ kerugoya\ sportiff\(2nd\)金\ 20220507_204722.jpg);
=======
    background-image: url(モDigital\ kerugoya\ sportiff\(2nd\)金\ 20220507_204722.jpg);
>>>>>>> 020a0caaca7559f6738961ef1161a017ecd1978c
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
big-container{
    width:100%;
    height:95vh;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    overflow: hidden;
    border-radius:10px;
    box-shadow:0 0 20px #000;
    animation:fade 3s ease-in-out fowards;
    opacity:0;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes fade{
    to(opacity:1;)
}
.container{
    width:100%;
    height: 100%;
    overflow: auto;
    
}
::-webkit-scrollbar{
    display: none;
}
video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}
header nav{
float: left;
display: flex;
flex-wrap: wrap;
margin-right: 20px;
justify-content: center;
align-items: center;
}
a{
    font-size: 60px;
    color: aqua;
}
nav ul li{
    display: inline-block;
}
@media(max-width:100px){
    header nav{
        width:100%;
        margin:0;
        text-align: center;
        height: 100%;
    }
}
@media(max-width:850px){
    nav ul{
        min-width: 300px;
        margin:0;
    }
    nav ul a{
        padding:5px 10px;
    }
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: 20px left;
}
header h1{
    color: aqua;
    transition: 0.5s;
}
header h1:hover{
    -webkit-text-stroke:2px white;
    color: transparent;
}
header h2{
    color: aqua;
    transition: 0.5s;
}
header h2:hover{
    -webkit-text-stroke:2px white;
    color: transparent;
}
section h3{
    color: blue;
    padding: 0%;
}
section h4{
    color: blue;
    padding: 0%;
}
section h5{
    color: blue;
    padding: 0%;
}
section h6{
    color: blue;
    padding: 0%;
}
section h7{
    color: blue;
    padding: 0%;
}
section h8{
    color: blue;
    padding: 0%;
}
section h9{
    color: blue;
    padding: 0%;
}
section p1{
    color: aqua;
    padding: 0%;
    font-size: 20PX;
}
section p2{
<<<<<<< HEAD
    color: aqua;
}
section p3{
    color: aqua;
}
section p4{
    color: aqua;
}
section p5{
    color: aqua;
}
section p6{
    color: aqua;
}
section p7{
    color: aqua;
}
section p8{
    color: aqua;
}
section p9{
    color: aqua;
}
section p10{
    color: aqua;
}
section p11{
    color: aqua;
}
section p12{
    color: aqua;
}
section p13{
    color: aqua;
}
section p1:hover{
    -webkit-text-stroke:2px white;
    color: transparent;
=======
    color: blue;
>>>>>>> 020a0caaca7559f6738961ef1161a017ecd1978c
}
section p3{
    color: blue;
}
section p4{
    color: blue;
}
section p5{
    color: blue;
}
section p6{
    color: blue;
}
section p7{
    color: blue;
}
section p8{
    color: blue;
}
section p9{
    color: blue;
}
section p10{
    color: blue;
}
section p11{
    color: blue;
}
section p12{
    color: blue;
}
section p13{
    color: blue;
}

@media all and(max-width:500px){
    img{
        width:100%;
    }
}
img{
    background-size: cover;
    width: 70%;
<<<<<<< HEAD
}
 */
=======
}
table,th,td{
    border: 5px solid white;
    border-collapse: collapse;
}
th,td{
    background-color: aqua;
}

  
  
  
  
  
  

>>>>>>> 020a0caaca7559f6738961ef1161a017ecd1978c
