  


  *{
    margin: 0;
    padding: 0;
  }

  .nav2{
    background-color: navy;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
  
  
  
  /* Styles for the image grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns in a row */
    gap: 15px; /* Gap between images */
    margin-top: 20px;
  }
  
  /* Styles for each image */
  .image-grid img {
    width: 100%;
  }
  
  /* Media query for tablets */
  @media screen and (max-width: 768px) {
    .image-grid {
      grid-template-columns: repeat(3, 1fr); /* Three columns in a row on tablet */
    }
  }
  
  /* Media query for mobile */
  @media screen and (max-width: 480px) {
    .image-grid {
      grid-template-columns: repeat(1, 1fr); /* Single column on mobile */
    }
}